{% extends 'base.html' %}


{% block content %}

{% if request.user.is_authenticated %}
<a class="btn btn-outline-info" href="{% url 'player-create-page' %}" role="button">Add New Player</a>
  {% if players %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Position</th>
          <th scope="col">Grade</th>
        </tr>
      </thead>
      {% for player in players %}
      <tbody>
        <tr>
          <th scope="row">{{ player.jersey_number }}</th>
          <td href="#">{{ player.first_name }} {{ player.last_name }}</td>
          <td>{{ player.position }}</td>
          <td>{{ player.grade }}</td>
          <td><a class="btn btn-link" href="{% url 'player-detail-page' player.id %}" role="button">View</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% else %}
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
  {% endif %}


{% endblock %}