{% extends 'base.html' %}


{% block content %}

<h1>Schedule</h1>
<a class="btn btn-info" href="{% url 'event-create-page' %}" role="button">Add Schedule</a>

{% for event in events %}
<div class="card text-center">
    <div class="card-header">
      <h5 class="card-text">{{ event.event_type }}</h5>
    </div>
    <div class="card-body">
      <p class="card-text">Date: {{ event.date }}</p>
      <p class="card-text">Time: {{ event.time }}</p>
      <p class="card-text">Location: {{ event.location }}</p>
      <a href="{% url 'event-detail-page' event.id %}" class="btn btn-primary">More Info</a>
      <a href="{% url 'edit-event-page' event.id %}" class="btn btn-primary">Take Attendance</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
  <br>
  {% endfor %}

{% endblock %}